@use 'style';

.game-board {
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  span, div, p {
    font-weight: 300;
    font-size: 2rem;
  }
  p {
    margin: 0;
  }
}

.info-header {
  display: grid;
  padding: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: auto;
  overflow: hidden;
}

.info-container {
  box-sizing: border-box;
  height: 100%;
  padding: 0.5rem 0;
  margin: 0 2rem;
  border-radius: 0.5rem;
  background-color: #fef3c7;
  border: 3px solid style.$text-color;
  grid-column: 2 / 3;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ship-placement-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.ship-orient-container {
  height: 100%;
  display: flex;

  img {
    height: 1.5rem;
    width: auto;
  }

  span {
    margin-top: 0.3rem;
  }

  button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  button:hover {
    border-color: style.$primary-color;
  }
}

.game-board-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
}

.player-info-container {
  position:relative;
  display: grid;
  min-height: 2.5rem;
  grid-template-columns: 2fr 3fr;
  padding-bottom: 0.25rem;
  box-shadow: 0 10px 5px -5px rgb(0 0 0 / 0.1), 0 5px 6px -4px rgb(0 0 0 / 0.1);
}

.player-info-container:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:red;
  height: 4px;
  border-radius: 20px;
}

.game-board {
  box-sizing: border-box;
}

.first-player, .second-player {
  margin: 0 7.5vw;
}

.game-board-container {
  box-sizing: border-box;
  
  table {
    margin-top: 2rem;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    border-collapse: collapse
  }

  tbody {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  td {
    box-sizing: border-box;
    height: 10%;
    width: 10%;

    border: 1px solid style.$text-color;

    background-size: cover;
    background-repeat: no-repeat;

    aspect-ratio: 1 / 1;
  }

  .top-corner {
    border-top: none;
  }

  .bottom-corner {
    border-bottom: none;
  }

  .left-corner {
    border-left: none;
  }

  .right-corner {
    border-right: none;
  }
  
  .x-neg {
    transform: rotate(180deg);
  }

  .y-pos {
    transform: rotate(270deg);
  }

  .y-neg {
    transform: rotate(90deg);
  }
}