@use 'style';

.name-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.name-form-container {
  position: relative;
  justify-content: center;
  background-color: style.$background-color;
  border-radius: 0.75rem;
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  
  h3 {
    margin: 0;
    color: style.$primary-color;
    font-size: 2.5rem;
    font-weight: 600;
  }

  label {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
  }

  input {
    display: block;
    font-weight: 300;
    border: 1px solid #d1d5db;
    background-color: #f3f4f6;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  form {
    margin: 1rem 0;
  }
}

.name-form-btn-wrapper {
  display: flex;
  justify-content: center;
}

.name-form-btn {
  font-size: 2rem;
  margin-top: 1rem;
  color: style.$primary-color;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition-property: text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.name-form-btn:hover {
  text-decoration-color: style.$primary-color;
}

.close-btn {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  img {
    display:inline-block; 
    vertical-align:middle; 
  }
}

.close-btn:hover {
  border-color: style.$primary-color;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}