@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
$primary-color: #f9fafb;
$font-color: #020617;
$font-h1-color: #020617;
$font-stack: 'Courier Prime', monospace;

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.icon {
  filter: invert(100%) sepia(39%) saturate(527%) hue-rotate(176deg) brightness(101%) contrast(97%);
  height: 1.75rem;
  width: auto;
}

body {
  font-family: $font-stack;
  color: $font-color;
}

main {
  height: 100vh;
}

.start-bg {
  background-image: url('../assets/img/background-main.jpg');
  background-color: $primary-color;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-header {
  text-align: center;
  padding: 5ch 0;

  .logo {
    background-image: url('../assets/img/logo-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    padding-bottom: 3rem;
    display: inline-block;
  }

  h1 {
    margin: 0;
    font-size: 12.5ch;
    color: $font-h1-color;
    text-decoration: underline;
  }
}

.option-body {
  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 0;
    text-align: center;
    font-size: 2rem;
    list-style-type: none;
  }

  .btn-wrapper {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1rem 2rem;
  }

  .btn-wrapper button {
    background: linear-gradient(to left, transparent 50%, #fde047 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
  }

  .btn-wrapper:hover button {
    background-position: left;
  }
}

.top-container {
  text-align: center;

}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.board-container {
  overflow: hidden;

  .ships-container {
    border: 1px solid $font-color;
    width: 750x;
    height: 50px;
  }

  .board {
    border: 1px solid $font-color;
    background-color: $font-color;
    width: 750px;
    height: 750px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;

    .box {
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 73px;
        width: 73px;
      }
    }
  
    .ship {
      background-color: red;
    }

    .ghost-ship {
      background-color: pink;
    }
    .hit {
      color: red;
      font-size: 3rem;
    }

    .missed {
      font-size: 3rem;
      color: white;
    }
  }
}